* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.body{
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.all{
    border: 4px solid black;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 400px;
    height: 580px;
}

#text-box{
    size: 40px;
    border: solid rgb(0, 0, 0) 4px;
    font-size: 60px;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    background-color: rgb(135, 131, 131);
    min-height: 100px;
    font-family: monospace;
    text-shadow:1.5px 1.5px #383838;
}
.one, .two, .three, .four, .five{
    display: flex;
    justify-content: space-between;
    border: 3px;

}

.buttts{
    background-color: black;
}
button{
    flex: 1;
    font-size: 25px;
    min-width: 80px;
    min-height: 80px;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 8px;
    cursor: pointer;
    
}


.green {
    background-color: rgb(105, 164, 105);
}

.green:hover {
    background-color: rgb(51, 109, 51);
}

.green:active {
    animation: blink-animation-green 0.3s;
}

@keyframes blink-animation-green {
    0% {
        background-color: rgb(105, 164, 105);
    }
    50% {
        background-color: rgb(51, 109, 51);
    }
    100% {
        background-color: rgb(105, 164, 105);
    }
}

.orange{
    background-color: rgb(245, 170, 31);
}
.orange:hover{
    background-color: rgb(177, 124, 26);
}
.orange:active {
    animation: blink-animation-orange 0.3s;
}
@keyframes blink-animation-orange {
    0% {
        background-color: rgb(245, 170, 31);
    }
    50% {
        background-color:  rgb(177, 124, 26);
    }
    100% {
        background-color: rgb(245, 170, 31);
    }
}


.babyblue{
    background-color: rgb(61, 107, 255);
}
.babyblue:hover{
    background-color: rgb(33, 59, 143);
}
.babyblue:active {
    animation: blink-animation-babyblue 0.3s;
}
@keyframes blink-animation-babyblue {
    0% {
        background-color: rgb(61, 107, 255);
    }
    50% {
        background-color:  rgb(33, 59, 143);
    }
    100% {
        background-color:  rgb(61, 107, 255);
    }
}